/* Navigation Bar */
/* Login Buttons */
/* Title Image */
/* Features Section */
/* Testimonial Section */
/* Pricing Section */
/* CTA Section */
/* Download Buttons */
/* Footer Section */
/* CSS media break point */
body {
  font-family: "Montserrat";
}

#title {
  background-color: #1D544F;
  color: #fff;
}

.custom-padding {
  padding: 3% 13% 7% !important;
}

h1 {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
  font-size: 1.3rem;
  line-height: 1;
}

.navbar {
  padding: 3% 10% 7% !important;
  width: 100% !important;
}

.navbar-brand {
  margin: 3px 0;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 15px;
}

.nav-link {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.login-button {
  outline: #fff;
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 50%;
  transform: rotate(12deg);
  position: absolute;
  right: 35%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #A6874E;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #1D544F;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #A6874E;
  color: #fff;
}

.testimonial-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #A6874E;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #fff;
  color: #000;
  padding: 17% 30%;
  text-align: center;
}

.cta-heading {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-button {
  outline: #000;
  margin: 5% 3% 5% 0;
}

#footer {
  background-color: #1D544F;
  padding: 15% 30%;
  text-align: center;
}

.f-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
