$color_1: #fff;
$color_2: #8f8f8f;
$color_3: #A6874E;
$color_4: #1D544F;
$color_5: #000;
$font-family_1: "Montserrat";
$font-family_2: "Ubuntu";
$background-color_1: #1D544F;
$background-color_2: #fff;
$background-color_3: #A6874E;

/* Navigation Bar */
/* Login Buttons */
/* Title Image */
/* Features Section */
/* Testimonial Section */
/* Pricing Section */
/* CTA Section */
/* Download Buttons */
/* Footer Section */
/* CSS media break point */
body {
	font-family: $font-family_1;
}
#title {
	background-color: $background-color_1;
	color: $color_1;
}
.custom-padding {
	padding: 3% 13% 7% !important;
}
h1 {
	font-family: $font-family_2;
	font-size: 3.5rem;
	line-height: 1.5;
}
h2 {
	font-family: $font-family_2;
	font-size: 3rem;
	line-height: 1.5;
}
h3 {
	font-family: $font-family_2;
	font-size: 3rem;
	line-height: 1.5;
}
p {
	color: $color_2;
	font-size: 1.3rem;
	line-height: 1;
}
.navbar {
	padding: 3% 10% 7% !important;
	width: 100% !important;
}
.navbar-brand {
	margin: 3px 0;
	font-family: $font-family_2;
	font-size: 2.5rem;
	font-weight: bold;
}
.nav-item {
	padding: 0px 15px;
}
.nav-link {
	margin: 0;
	font-size: 1.2rem;
	font-family: $font-family_1;
}
.login-button {
	outline: #fff;
	margin: 5% 3% 5% 0;
}
.title-image {
	width: 50%;
	transform: rotate(12deg);
	position: absolute;
	right: 35%;
}
#features {
	padding: 7% 15%;
	background-color: $background-color_2;
	position: relative;
}
.feature-box {
	text-align: center;
	padding: 4.5%;
}
.icon {
	color: $color_3;
	margin-bottom: 1rem;
	&:hover {
		color: $color_4;
	}
}
#testimonials {
	padding: 7% 15%;
	text-align: center;
	background-color: $background-color_3;
	color: $color_1;
}
.testimonial-image {
	width: 30%;
	border-radius: 100%;
	margin: 20px;
}
#press {
	background-color: $background-color_3;
	text-align: center;
	padding-bottom: 3%;
}
.press-logo {
	width: 15%;
	margin: 20px 20px 15px;
}
#pricing {
	padding: 100px;
	text-align: center;
}
.pricing-column {
	padding: 3% 2%;
}
#cta {
	background-color: $background-color_2;
	color: $color_5;
	padding: 17% 30%;
	text-align: center;
}
.cta-heading {
	font-family: $font-family_2;
	font-size: 3.5rem;
	line-height: 1.5;
}
.download-button {
	outline: #000;
	margin: 5% 3% 5% 0;
}
#footer {
	background-color: $background-color_1;
	padding: 15% 30%;
	text-align: center;
}
.f-icon {
	margin: 20px 10px;
}
@media (max-width: 1028px) {
	#title {
		text-align: center;
	}
	.title-image {
		position: static;
		transform: rotate(0);
	}
}